
/* trial color:#61082b; */


/* Reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
/* Utils */

.container{
    max-width: 1080px;
    margin: 0 auto;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.btn-blue{
    color: #fff;
    background-color: #0061ff;
    padding: 13px 20px;
}
.btn-white{
    color: #000;
    background-color: #fff;
    padding: 13px 66px;
}
.btn-white-bordered{
    color: #000;
    background-color: #fff;
    padding: 13px 20px;    
    border: 1px solid #000;
}
.col{
    float: left;
    width: calc(100% / 3);
    padding: 0 30px;
    background-color: #0061ff;
}
.border-grey{
    border: 1px solid #d0d0d0;
}
/* Topnav */

nav{
    height: 80px;
    padding: 0 20px;
}

.left-nav{
    display: inline-block;
}
.right-nav{
    float: right;
}
nav a,
nav a img{
    line-height: 80px;
    vertical-align: middle;
}


/* Hero */
.hero{
    position: relative;
    background-color: #b4d0e7;
    padding: 110px 150px;
}
.hero-title{
    font-size: 5rem;
    margin-bottom: 40px;
}
.hero-desc{
    width: 391px;
    margin-bottom: 40px;
}
.hero .specs{
    margin-top: 30px;
}
.hero-image{
    width: 50%;
    height: auto;
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateX(-25%);
}

.hero i{
    font-size: 2rem;
    margin-top: 40px;
}

/* Piani e prezzi */
.plans{
    padding: 210px 0;
}
.plans h2{
    font-size: 2.5rem;
}



/* Main */


/* Footer */