/********* Reset *********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}

/********* Utils *********/

/* layout */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.col{
    float: left;
    width: calc((100% / 3) - 30px);
}
.w-100{
    width: 100%;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.margin-both{
    margin: 0 45px;
}

/* buttons & links */
.btn-blue{
    color: #fff;
    background-color: #0061ff;
    padding: 13px 20px;
}
.btn-white{
    color: #000;
    background-color: #fff;
    padding: 13px 66px;
}
.btn-white-bordered{
    color: #000;
    background-color: #fff;
    padding: 13px 20px;    
    border: 1px solid #000;
}
.link-reset{
    color: #176fff;
    text-decoration: underline;
}


/* color & bg */
.bg-green{
    background-color: #a2d39b;
}
.bg-darkred{
    background-color: #61082b;
}
.bg-lightblue{
    background-color: #0093ce;
}
.bg-orangered{
    background-color: #ff1c1c;
}
.bg-red{
    background-color: #d5001f;
}
.bg-blue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color: #ffd830;
}
.bg-greyblue{
    background-color: #b4d0e7;
}

/* general style */
.border-grey{
    border: 1px solid #d0d0d0;
}
.centered{
    text-align: center;
}
i[class*='fa-']{
    margin-right: 10px;
}
li{
    list-style: none;
}
.a-underline:hover,
.a-underline:active{
    border-bottom: 2px solid #176fff;
}
/********* Header *********/

/* topnav */
.top-nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #d0d0d0;
    padding: 0 20px;
    height: 80px;
}
nav a{
    float: left;
    display: block;
    text-align: center;
}
nav a,
nav a img{
    line-height: 80px;
    vertical-align: middle;
    margin-right: 30px;
}
#login{
    line-height: 40px;
    padding: 0 20px;
    margin: 20px;
}
/* hero */

.hero{
    position: relative;
    background-color: #b4d0e7;
    padding: 190px 150px;
}
.hero-title{
    font-size: 5rem;
    margin-bottom: 40px;
}
.hero-desc{
    width: 391px;
    margin-bottom: 40px;
}
.hero .specs{
    margin-top: 30px;
}
.hero-image{
    width: 50%;
    height: auto;
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateX(-25%);
}

.hero i{
    font-size: 2rem;
    margin-top: 40px;
}

/********* Main *********/

/* plans & prices */

#prices{
    padding: 210px 0 120px 0;
}

#prices h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#prices input#monthly{
    margin: 0 5px 30px 0;
}
#prices input#yearly{
    margin: 0 5px 30px 10px;
}
#prices label{
    font-size: 1.1rem;
}
.col .plan-name{
    text-align: center;
    border: 1px solid #d0d0d0;
    font-weight: 400;
    padding: 10px;
}
.col .plan-desc{
    border: 1px solid #d0d0d0;
    padding: 40px 30px;
}
.plan-desc h4{
    font-size: 1.7rem;
    padding-bottom: 30px;
}
.plan-desc .cost{
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.plan-desc .cost-spec{
    color: #667583;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 55px;
}
.plan-desc .plan-features li{
    padding-bottom: 30px;
    padding-left: 30px;
    text-indent: -13px;
}
.plan-desc .plan-features li:last-child{
    padding-bottom: 65px;
}
.plan-desc .btn-blue{
    text-align: center;
    display: inline-block;
}
.plan-desc .alternative-purchase{
    padding: 50px 0 30px 0;
}
.plan-desc hr{
    width: 20%;
    color: #d0d0d0;
}
.plan-spec-title{
    font-size: 1.1rem;
    padding-top: 45px;
}
.plan-specs li{
    padding-top: 35px;
    padding-left: 30px;
    text-indent: -13px;
}
.plan-specs .fas{
    color: #176fff;
}
.col.enterprise-plan{
    padding: 50px 0 150px 0;
    width: 100%;
}
.enterprise-plan .plan-desc h4{
    display: inline-block;
}
.enterprise-plan .plan-desc a{
    float: right;
    padding: 12px 75px;
}
.enterprise-plan .plan-desc .enterprise-desc{
    font-size: 0.85rem;
}
.plan-1 .plan-desc,
.plan-2 .plan-desc,
.plan-3 .plan-desc{
    height: 1350px;
}

/* partnership */

.partnership .partner-desc img{
    width: 55%;
    height: auto;
}
.partnership .partner-desc .partner-text{
    float: right;
    width: 45%;
    padding: 55px 0 0 55px;
}
.partner-desc .partner-text h3{
    font-size: 1.5rem;
    padding-bottom: 40px;
}
.partner-desc .partner-text p{
    line-height: 1.5rem;
    padding-bottom: 40px;
}

/* description Dropbox Business */

#dropbox-business-desc{
    padding-bottom: 220px;
}
#dropbox-business-desc h2{
    font-size: 2.5rem;
    padding-bottom: 70px;
}
#dropbox-business-desc img{
    width: 100%;
}
#dropbox-business-desc .col h3{
    font-size: 1.5rem;
    padding-bottom: 40px;
}
#dropbox-business-desc .col p{
    font-size: 1.05rem;
    padding-bottom: 120px;
}
#dropbox-business-desc a:hover{
    text-decoration: underline;
}

/* companies */

.companies-section{
    padding-bottom: 50px;
}
.companies-section h2{
    font-size: 2.5rem;
    padding-bottom: 50px;
}
.companies-section a{
    text-decoration: underline;
    color: #0161ff;
}
.companies{
    background-color: #f5f5f5;
    height: 490px;
}
.companies .company-images{
    float: left;
    width: calc(100% / 3.5);
    height: 490px;
}
.companies .img-box{
    padding: 0 50px;
    width: 50%;
    height: 245px;
    line-height: 245px;
    float: left;
}
.companies .img-box:hover{
    filter: opacity(0.5);
}
.companies .img-box img{
    width: 100%;
    vertical-align: middle;
    filter: invert(1);
}
.companies .company-desc{
    padding: 50px;
    float: left;
    width: calc(100% / 2.3333);
    height: 490px;
}
.companies .company-desc img{
    width: 20%;
    padding-bottom: 40px;
}
.companies .company-desc hr{
    width: 10%;
    margin-bottom: 50px;
    color: #dedee0;
}
.companies .company-desc .comment{
    padding-bottom: 50px;
}
.companies .company-images .float-right{
    float:right;
}

/* free trial */

#trial{
    padding: 135px 0;
    background-color: #b4d0e7;
}
#trial h2{
    display: inline-block;
    width: 50%;
    color: #61082b;
    font-size: 2.8rem;
}
#trial .btn-white{
    float: right;
}

/* Q&A */

#questions{
    padding: 120px 0;
}
#questions h3{
    font-size: 2rem;
    padding: 60px 0;
}
#questions h4{
    display: inline-block;
    padding: 40px 0;
}
#questions i.fas{
    float: right;
    padding: 40px;
}
#questions hr{
    color: #dcdcde;
}

/********* Footer *********/

footer{
    height: 450px;
    background-color: #000;
}
/* links */
.links{
    padding: 100px 160px;
}
.links *{
    color: #fff;
}
.links ul{
    float: left;
    width: calc(100% / 5);
}
.links ul h4{
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 20px;
}

/* footer end */
.footer-section hr{
    width: 100px;
    margin-left: 160px;
    margin-bottom: 50px;
}
.footer-section .language-selector{
    padding-left: 160px;
    color: #999999;
    font-size: 0.8rem;
}